<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="ConnStr" value="server=127.0.0.1;database=Invoice;uid=XK;pwd=88457610;Max Pool Size=20000;"/>
    <add key="CCERPConnStr" value="server=172.16.10.220;database=ccerp;uid=invoice;pwd=invoice;Max Pool Size=20000;"/>
    <add key="PrintUrl" value="http://172.16.30.233:8081/"/>
    </appSettings>
</configuration>