<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="ConnStr" value="server=192.168.2.3;database=ccerp;uid=sa;pwd=@w821218;Max Pool Size=20000;"/>     
    </appSettings>
</configuration>